<!--{% extends 'merchant/base.html' %}
 {% load static %} <!-- New line -->
<!--{% block body_block %} -->
{% if latest_poll_list %}
    <ul>
    {% for poll in latest_poll_list %}
        <li><a href="/polls/{{ poll.id }}/">{{ poll.question }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
<!--
<div id="templatemo_right_panel">
        	
	{% for product in products %}
		<div class="templatemo_right_panel_fullwidth">

            	<h1>{{product.name}}</h1>
                
               	<div class="product_detail_image">
					<!-- hard coded modify css TODO -->
<!--	                <img src="{{STATIC_URL}}{{product.IMAGE}}" alt="a recent product" width = "320px" />
                </div>
                <div class="product_detail_info">
					<p>{{product.name}}<p>
				</div>
		</div>
	{% endfor %}
	    
</div>
-->

<!--{% endblock %} -->
